h1 Tasks Rest API

h2 Data

h3 Task

div.container
table(class="table")
 tr
   th name
   th type
 tr
   td name
   td String
 tr
   td trail
   td "inbox","in progress","done"

h2 URLS
table(class="table")
  tr
    th URL
    th METHOD
    th Definition
  tr
    td /tasks
    td GET
    td Returns all tasks
  tr
    td /tasks
    td POST
    td Creates new task
  tr
    td /tasks/:id
    td PUT
    td Updates task
      
